<div>
    <img id="contact-img" src="assets/media/contact.jpg" alt="Contact Themed">
</div>

<div class="contact-form">
    <h3>Contact Form</h3>
    <p>
        Please fill out this form and mention about the time you would like to visit and enjoy the haircut service. I will be hapy to get back to you a soon as possible, confirming your timeslot.

    </p>

    <div class="contactFormSubmission">
        <form id="contactForm" action="https://formspree.io/f/mqkrveba" method="POST" autocomplete="on">
            
            <label for="name">Your Name</label> <br>
            <input type="text" id="name" name="name" placeholder="John Doe..."><br><!--ONly the the type is required here. All other's are CSS. -->

            <label for="email">Your Email</label><br>
            <input type="text" id="email" name="email" placeholder="abc@gmail.com..."><br>

            <label for="message">Your Message <span style="color: red;">*</span></label><br>
            <textarea id="message" name="message" placeholder="I want to have a haircut at ..." style="height: 200px;" required></textarea><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>